
@theme {
    --color-bg: #fdf6e3;
    --color-white: #222222;
    --color-text: #b49471;
    --color-onyx: #ccc4b0;
    --color-gray: #d3af86;
    --color-silver: #584c27;
    --color-winter: #839496;
    --color-picton-blue: #002b36;
    --color-carolina: #567983;
    --color-cornflower: #316BCD;
    --color-true-blue: #268bd2;
    --color-navy-blue: #000080;
    --color-pine-green: #16825d;
    --color-may-green: #2aa198;
    --color-russian-green: #859900;
    --color-eucalyptus: #4EC9B0;
    --color-moss-green: #386f6c;
    --color-c-and-c: #ac9d57;
    --color-burlywood: #b58900;
    --color-sheen-gold: #CD9731;
    --color-antique-brass: #cb4b16;
    --color-watermelon: #ab395b;
    --color-tart-orange: #CD3131;
    --color-lilac: #800080;
    --color-violet: #7744aa;
    --color-blue-gray: #6c71c4;
    }