@import "tailwindcss";
@import "./styles/DarkPalette.css";

@theme {
  --color-background: white;
  --color-text: #222222;
  --text-2xs: 0.6rem;
  --text-3xs: 0.4rem;
}
@font-face {
  font-family: 'Press Start 2P';
  src: url('fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#root {
  width: 100%;
  text-align: center;
}
